
<h1>Cart</h1>
<% cart.each do |product| %>
    <p><%= product %></p>
<% end %> 

<%= form_tag ({controller: 'products', action: 'add', method: 'post'}) do %>
  <input name=product>
  <input type=submit value='add to cart'>
<% end %>



<%# <%= form_tag action: "add" do %>
    <%# <%= text_field_tag "product" %> 
    <%# <%= submit_tag "add to cart" %>
<%# <% end %> 
